{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<br>

<div class="row">
	<div class="col-md-12">
		<div class="card card-body">
            <h2>Reviews</h2>
             <br>
            <div class="container">
                <div class="row">
              <!-- Blog Entries Column -->
                    <div class="col-md-6 mt-3 left">
                    {% for post in post_list %}  
                        {% if post.library.id|cut:" " == library_id|cut:" " and post.status|cut:" " == "1" %}
                        <div class="card mb-4" >
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                            <p class="card-text">{{post.content }}</p>
                        </div>
                        </div>
                        {% endif %}
                     {% endfor %}
                </div>
		</div>
	</div>
</div>
<hr>
<div class="row navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="col-md-12" style="color:navy;background-color:steelblue;">
		<div class="card card-body">
            <h2>Comment</h2>
             <br>
             <form name="form" action= "{% url 'submit_post' %}" method="POST">
                {% csrf_token %}
                <div class="container">
                <div class="row">
                    {% for post in post_list %}  
                        {% if post.library.id|cut:" " == library_id|cut:" " %}
                        <input type="hidden" name="library" value="{{ post.library.id }}">
                        {% endif %}
                    {% endfor %}
                        <strong><label for="title">title:  </label></strong>&nbsp&nbsp
                        <input  style="height:40px;" type="text" id="title" name="title"><br><br>&nbsp&nbsp&nbsp&nbsp
                        <strong><label for="content">Review of library:  </label></strong>&nbsp&nbsp
                        <textarea id="content" name="content" rows="4" cols="50"></textarea>&nbsp&nbsp&nbsp&nbsp
                        <button   style="color:#457873; height:40px;" type="submit" value="Login" ><strong>submit</strong></button>&nbsp&nbsp
                </div>
            </form>
		</div>
	</div>
</div>
{% endblock %}